img {
  animation: dropBounce 1.5s ease-in-out forwards;
}

@keyframes dropBounce {
  0% {
    transform: translateY(-100vh);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
  }
  60% {
    transform: translateY(-20%);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  85% {
    transform: translateY(-10%);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(-5%);
    animation-timing-function: ease-out;
  }
}
